html{
    font-weight: var(--psTypeFontWeightRegular);
    height: 100%;
    line-height: 1.71429;
    font-feature-settings: "tnum" on,"lnum" on;
    font-size: .875em;
    text-size-adjust: 100%;

}
body{  
    font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif;
    margin: 0;
    color: hsla(0,0%,100%,.95);
    height: 100%;
    font-weight: 400;
    
}
.columns {
    border: ;
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: row;

}
.columns > div {
    flex: 1;
}

#left{
    flex-direction: column;
    background-color:rgb(13, 15, 18); 
    background-repeat: no-repeat; 
    align-items: center; 
    justify-content: center;
}
#logo {
    margin-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#login {
    width: 100%;
    display: flex;
    align-items: center;
}
form {
    display: block;
    margin-top: 0em;
}
.desktop {
    display: none;
}




@media screen and (min-width: 768px) {
    .desktop {
        display: block;
    }
    #right {
        background-color: #000;
        background-image: url(gads-2021/pluralsight-login-clone/bg-gtm-2020.png);
        background-size: cover;

    }
}

