html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif;
    font-family: var(--psTypeFontFamily);
    font-size: .875em;
    font-weight: 400;
    font-weight: var(--psTypeFontWeightRegular);
    line-height: 1.71429;
    font-feature-settings: "tnum" on,"lnum" on;
}
body{
    display: block;
    font-family: PS TT Commons Roman,Gotham SSm A,Gotham SSm B,Arial,sans-serif;
    margin: 0;
    background-color: #0d0f12;
    color: hsla(0,0%,100%,.95);
}
div {
    display: block;
}
#container {
    display: flex;
    flex-direction: row;
}
#left {
    display: flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.spacer {
   flex: 1;
   min-height: 48px;  
}
.login, .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}
.signin {
    flex-direction: column;
    flex: auto;
    justify-content: center;
    padding-bottom: 12px;
}
.logo {
    margin-bottom: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.logo img {
    width: 303px;
    max-width: 80%;
}
img {
    max-width: 100%;
    vertical-align: middle;
}
img {
    border-style: none;
}
.signInForm {
    width: 80%;
}
form {
    display: block;
    margin-top: 0em;
}
.signInForm label {
    color: hsla(0,0%,100%,.95);
    font-size: 16px;
}
.psds-text-input__label {
    color: hsla(0,0%,100%,.95);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 4px;
}
.psds-button {
    position: relative;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: stretch;
    border: 0;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
    transition: background .2s,-webkit-transform .1s,transform .1s;
    vertical-align: middle;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -webkit-transition: background .2s,-webkit-transform .1s,transform .1s;
    -moz-transition: background .2s,transform .1s;
}
.signInForm .psds-button {
    width: 100%;
    margin-bottom: 48px;
    align-items: center;
}
.psds-button--appearance-primary.psds-theme--dark {
    color: hsla(0,0%,100%,.95);
    background: #0074ab;
    
}
.psds-button--size-medium {
    font-size: 16px;
    letter-spacing: .01em;
    padding: 10px 16px;
    height: 40px;
}
.links {
    width: 80%;
    text-align: center;
}
.psds-link--appearance-default.psds-theme--dark {
    color: #2ea0d6;
    text-decoration: none;
}
.links a {
    display: block;
    font-size: 16px;
    margin-bottom: 16px;
}
a {
    background-color: transparent;
}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}
hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.or {
    margin-bottom: 24px;
    width: 100%;
    display: flex;
    align-items: center;
}
.bar {
    flex: auto;
    border: none;
    height: 1px;
    background-color: hsla(0,0%,100%,.15);
}

